<div class="container-fluid" ng-app="todoList">
	<div class="page-header">
		<h1>Rick's To Do List</h1>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h4>Shit To Do Today</h4>
		</div>

		<div class="panel-body">
			<div ng-view></div>
		</div>

	</div>
</div>